
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
            </tr>            
        </thead>
        <tbody>
            @* aqui el codigo para traer datos. *@
            <tr>
                <td>
                    Traumatologo
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
